img	{
	width: 100%;
	margin: 1.66%;
}

.container {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

/*.float {
	float: left;
}*/

p {
	font-family: Raleway;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;
	width: 30%;
	padding-bottom: 20px;
}

/*img:hover {
	width: 33%;
	margin: auto;
}*/
img:hover {
	transform: scale(1.1);
	box-shadow: 10px 10px 20px rgba(0,0,0,0.19), px 6px 6px rgba(0,0,0,0.23);
}
